{
    "configurations": [
        {
            "name": "QEMU",
            "includePath": [
                "${workspaceFolder}/**"
            ],
            "defines": [
                "ARCH_H=\"arch/x86_64-qemu.h\""
            ],
            "compilerPath": "/usr/bin/gcc",
            "cStandard": "gnu11",
            "cppStandard": "gnu++14",
            "intelliSenseMode": "linux-gcc-x64"
        }
    ],
    "version": 4
}